.center-image {
    margin: 0 auto;
    display: block; }

.note {
    background-color: #d3efff;
    border-left: 6px solid #0288D1;
    padding: 12px 12px 12px 32px;
    margin-bottom: 20px;
    margin-top: 20px; }

    .note p {
        margin-top: 5px;
        margin-bottom: 5px; }
