<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include "head.html" %}

  <body>

    <header id="content-header">
      <div id="content-nav">
	<ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Me</a></li>
	  <li><a href="/opensource">Open Source</a></li>
	  <li><a href="/vulnerabilities">Vulnerabiity Research</a></li>
      </div>
    </header>

    <div class="content-container">
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
