<head>
  <title>{{ page_title }} | Ayrx's Blog</title>
  <link rel="icon" type="image/x-icon" href="favi.ico"/>
  <link rel="shortcut icon" type="image/x-icon" href="favi.ico"/>
  <link rel="stylesheet" href="public/css/main.css">
  <link rel="stylesheet" href="public/css/syntax.css">
  <link rel="alternate" type="application/rss+xml" href="https://www.ayrx.me/feed.xml" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="UE23RNOEi2f2PizKXUrLvuqaewDmWQDHKoyro_zhpQ8" />
</head>
